.bordered-box {
    border: 1px dashed rgba(255, 255, 255, 0.75) !important;
    background-color: transparent !important;
    border-radius: 5px;
}

.w-90 {
    width: 90% !important;
}

.description-input {
    width: 98% !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    color: white !important;
    background-color: #121212 !important;
    border: 1px dashed rgba(255, 255, 255, 0.9) !important;
}

.add-button {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}